@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


:root {

    /* Main Color */
    --clr-Nutmeg: hsl(14, 45%, 36%);
    --clr-Dark-Raspberry: hsl(332, 51%, 32%);
    
    /* Neutral Color */
    
    --clr-White: hsl(0, 0%, 100%);
    --clr-Rose-White: hsl(330, 100%, 98%);
    --clr-Eggshell: hsl(30, 54%, 90%);
    --clr-Light-Grey: hsl(30, 18%, 87%);
    --clr-Wenge-Brown: hsl(30, 10%, 34%);
    --clr-Dark-Charcoal: hsl(24, 5%, 18%);

    /* Typography */
    
    --fs-p: 16px;

    /* Font family & Weight */
    --ff-young: 'Young Serif', serif;
    --fw-regular: 400;
    
    --ff-outfit: 'Outfit', sans-serif;
    --fw-semiBold: 600;
    --fw-bold: 700;
}

/* reseting the defaults */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--clr-Eggshell);
}

/* Wrapper */

.wrapper {
    background-color: var(--clr-White);
    max-width: 736px;
    margin: 0 auto;
    margin-top: 123px;
    padding: 40px;

    border-radius: 25px;

    overflow: hidden;
}

/* recipe img */

.recipe-img {
    margin-bottom: 16px;
}

.recipe-img img {
    border-radius: 12px;
    object-fit: cover;
}


/* recipe overview */

.recipe-overview_title {
    font-family: var(--ff-young);
    font-size: 32px;
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Dark-Charcoal);

    margin-bottom: 12px;
}

.recipe-overview_subtitle {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);

    margin-bottom: 20px;
}


/* recipe time */

.recipe-time {
    background-color: var(--clr-Rose-White);
    border-radius: 25px;

    padding: 20px 20px;
    margin-bottom: 20px;
}

.recipe-time_title {
    font-family: var(--ff-outfit);
    font-size: 20px;
    font-weight: var(--fw-semiBold);
    word-spacing: 1.375px;
    color: var(--clr-Dark-Raspberry);

    padding-bottom: 8px;
}

.recipe-time_list {
    padding-left: 16px;
}

.recipe-time_list li {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);

    padding: 6px 16px;
}

.recipe-time_list span {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-semiBold);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);
}


/* recipe ingredient */

.recipe-ingredient {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px var(--clr-Light-Grey) solid;
}

.recipe-ingredient_title {
    font-family: var(--ff-young);
    font-size: 22px;
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Nutmeg);

    padding-bottom: 12px;
}

.recipe-ingredient_list {
    padding-left: 16px;
}

.recipe-ingredient_list li {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);

    padding: 4px 16px;
}



/* recipe instruction */

.recipe-instruction {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px var(--clr-Light-Grey) solid;
}

.recipe-instruction_title {
    font-family: var(--ff-young);
    font-size: 22px;
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Nutmeg);

    padding-bottom: 12px;
}

.recipe-instruction_list {
    padding-left: 16px;
}

.recipe-instruction_list li::marker {
    color: var(--clr-Nutmeg);
    font-weight: var(--fw-bold);
}
.recipe-instruction_list li {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    line-height: 20px;
    color: var(--clr-Wenge-Brown);

    padding: 4px 8px;
    padding-bottom: 12px;
}

.recipe-instruction_list span {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-semiBold);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);
}


/* recipe nutrition */

.recipe-nutrition_title {
    font-family: var(--ff-young);
    font-size: 22px;
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Nutmeg);

    padding-bottom: 12px;
}

.recipe-nutrition_text{
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);

    padding-bottom: 12px;
}

.table .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 20px;

    border-bottom: 1px var(--clr-Light-Grey) solid;
}

.table .row:nth-child(4) {
    border-bottom: none;
}

.table .row .title {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    word-spacing: 1.375px;
    color: var(--clr-Wenge-Brown);
}

.table .row .value {
    font-family: var(--ff-outfit);
    font-size: var(--fs-p);
    font-weight: var(--fw-semiBold);
    word-spacing: 1.375px;
    color: var(--clr-Dark-Raspberry);
}

@media (max-width: 737px) {
    .wrapper {
        margin-top: 0;
        padding: 28px;
        border-radius: 0;
        position: relative;
    }

    .recipe-img {
        position: relative;
        width: calc(100% + 28px + 28px);
        top: -28px;
        left: -28px;
        right: -28px;
        margin-bottom: 0;
    }

    .recipe-img img {
        border-radius: 0;
    }

    .recipe-instruction_list {
        padding-left: 24px;
    }

    .recipe-overview_title {
        line-height: 36px;
    }
}












